/* toxtcompound.css - Styling for tox-compound engine
*/

.jtox-ds-fixed,
.jtox-ds-variable {
  border: 0px;
  padding: 0px;
  margin: 0px;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
}

.jtox-ds-fixed {
  /* display: inline-block; */
  width: 450px;
  float: left;
  overflow-x: hidden;
}

.jtox-ds-feature {
  display: inline-block;
  border: 0px;
  padding: 0px;
  margin: 2px 15px 2px 2px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.jtox-ds-feature span.jtox-title {
  margin-left: 5px;
}

.jtox-ds-feature>sup>a>i {
  margin-top: 6px;
}

.jtox-selection {
  font-size: 80%;
  float: right;
  vertical-align: top;
}

.jtox-ds-tables {
  position: relative;
}

.jtox-ds-tables .jt-error {
  text-align: center;
  display: none;
}

.jtox-ds-tables .jt-error .message {
  color: red;
}

.jtox-ds-tables .jtox-details-box {
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 0px;
  padding: 0px;
  z-index: 10;
  height: auto;
  overflow: scroll;
}

.jtox-ds-tables .jtox-inline,
.jtox-ds-tables td {
  vertical-align: top;
}

.jtox-ds-tables td .shortened {
  max-width: 75px;
}

.jtox-ds-export {
  float: right !important;
}

.jtox-ds-download {
  padding:0px 5px 0px 5px;
  max-width: 64px;
  max-height: 64px;
}

.jtox-ds-details * {
  font-size: small;
}

.jtox-ds-details .ui-tabs {
  padding: 0px;
  border: 0px;
  margin: 0px;
}

div.jtox-details-table {
  padding: 12px 0px 0px 0px !important;
}

.jtox-details-table table {
  width: 100%;
  height: auto;
  vertical-align: baseline;
}
