/* toxtmatrix.css - jToxMatrix tool styles
*/
.jtox-matrix-kit {
  width: 100%;
  height: 100%;
}

.jtox-matrix-kit {
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jtox-matrix-kit textarea,
.endpoint-panel textarea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.jtox-matrix-kit button.jt-toggle {
  width: auto;
  min-width: 24px;
}

div.target button.jt-toggle.jtox-handler.target,
div.source button.jt-toggle.jtox-handler.source,
div.cm button.jt-toggle.jtox-handler.cm {
  background: #aaa;
  opacity: 1.0;
  display: inline-block !important;
}

#jtox-identifiers form div.actions {
	margin-top: 15px;
	font-size: 80%;
}

#jtox-identifiers form textarea,
#jtox-identifiers form input {
  width: 100%;
  box-sizing: border-box;
}

#jtox-identifiers form input[type="radio"],
#jtox-identifiers form input[type="checkbox"] {
  display: inline-block;
  width: auto;
  vertical-align: top;
}

#jtox-identifiers label {
  display: inline-block;
  font-weight: normal;
  font-size: inherit;
}

#source-link {
  display: inline-block;
}

#jtox-identifiers table th {
  font-weight: normal;
  cursor: default;
}

#jtox-structures .jtox-foldable {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.jtox-compound td textarea, div.jtox-endpoints td textarea {
  min-width: 150px;
  height: 150px;
  overflow-x: none;
  margin: 0px;
  border: 0px;
  color: #3333CC;
}

button.details-expand-all, button.details-collapse-all {
  font-size: 0.8em;
  padding: .25em .8em;
  /* margin: 0; */
}

#jtox-matrix td .breakable {
  width: 100px;
}

#jtox-matrix .jtox-toolkit {
  margin-top: 10px;
}

#jtox-matrix .jtox-ds-tables .jtox-ds-fixed {
	overflow-x: scroll;
}

.jtox-matrix-kit > div.ui-tabs-panel {
  position: relative;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}

#jtox-matrix div.jtox-toolkit {
  font-size: 80%;
}

#jtox-matrix div.jtox-ds-variable table.dataTable td  {
  white-space: nowrap;
}

#jtox-matrix div.jtox-ds-variable table.dataTable th  {
  white-space: inherit;
  max-width: 160px;
}

#jtox-matrix th.word-break {
  word-break: normal;
}

#jtox-matrix td.jtox-multi table td  {
  height: 65px;
}

#jtox-matrix td.jtox-multi table td  img.jtox-smalldiagram {
  height: 63px;
  width: 63px;
}

#jtox-matrix table.dataTable td span.ui-icon {
  display: inline-block;
  vertical-align: middle !important;
}

#jtox-matrix .deleted {
  background: #f79d9d;
  border-radius: 3px;
}

#jtox-matrix .edited {
  background: #eee78b;
  border-radius: 3px;
}


#jtox-matrix .jtox-ds-variable .shortened {
  max-width: 180px;
}

#jtox-matrix .jtox-ds-variable span {
  display: inline-block;
  vertical-align: middle;
}

.jtox-toolkit tr:first-child .jtox-up {
  display: none;
}

.jtox-toolkit tr:last-child .jtox-down {
  display: none;
}

.jtox-users-select {
  width: 90%;
  width: calc(100% - 5em);
  vertical-align: middle;
}

.jtox-toolkit table.dataTable td.jtox-user-rights {
  overflow: visible !important;
}

/* Some jBox adjustments */
div.jBox-Confirm div.jBox-content {
  text-align: left !important;
  padding: 15px !important;
}

div.jBox-Confirm.jtox-toolkit.delete .jBox-Confirm-button-submit {
  background: #d20;
}

div.jBox-Confirm.jtox-toolkit.delete .jBox-Confirm-button-submit:active,
div.jBox-Confirm.jtox-toolkit.delete .jBox-Confirm-button-submit:hover {
  background:#c20
}

.jtox-report .jtox-matrix-kit {
  overflow: auto;
}

#jtox-report {
  counter-reset: section annexes;
}

#jtox-report tbody th {
  padding: 3px 10px;
  font-weight: bold;
  text-align: left;
}

#jtox-report .shortened,
#jtox-report .shortened * {
  width: auto;
  max-width: none;
  max-height: none;
  white-space: normal;
}

#jtox-report textarea {
  border: none;
  height: 128px;
  color: inherit;
  background: none;
}

#jtox-report button.jt-toggle {
  display: none;
}

#jtox-report button.jt-toggle.active {
  display: inline-block;
}

section {
  clear: both;
}

section h2:before {
  counter-increment: section;
  content: counter(section) ". ";
}

section.annex h2:before {
  counter-increment: annexes;
  content: "Annex " counter(annexes) " ";
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  float: left;
  clear: left;
  width: 25%;
}

dd {
  min-height: 1.4em;
  margin-left: 26%;
  overflow: hidden;
}

#jtox-report h5 {
  margin-top: 1em;
  font-weight: bold;
}

.annex table {
  margin-bottom: 1em;
}

@media print {

  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img, table {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm 1cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


  .jtox-matrix-kit {
    overflow: visible;
    border: none;
    background: none;
  }

  html, body, .jtox-matrix-kit {
    width: 100%;
    height: auto !important;
    background: none;
  }

  .jtox-matrix-kit > div#jtox-report {
    height: auto !important;
    overflow: visible !important;
  }

  .ui-tabs-nav {
    display: none;
  }

  #jtox-report > section {
    page-break-before: always;
  }

  #jtox-report dl {
    margin: 5cm 0;
  }

  #jtox-report table {
    width: 100% !important;
    table-layout: auto !important;
  }

  #jtox-report th, #jtox-report td {
    width: auto !important;
  }

}
