/* QueryKit - Styling for toxstudy engine
*/

#searchcontext input {
  height: auto;
  width: 99%;
  box-sizing: border-box;
}

.jtox-query input[type="text"] {
  min-width: 380px;
  -moz-transition: width 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
  margin-bottom: 0px;
}

.jtox-query .search-pane .jtox-inline input,
.jtox-query .search-pane .jtox-inline select {
  font-size: 1.1em;
  margin-top: 2px;
  display: inline-block;
  vertical-align: baseline;
}

.jtox-query .search-pane .jtox-inline select {
  margin: 6px;
  height: 26px;
}

.jtox-query form {
  margin: 0px;
}

.jtox-query form>div {
  margin: 2px 4px 4px 4px;
  box-sizing: border-box;
}

.jtox-query form div.jq-buttonset {
  margin-top: 6px;
}

.jtox-query .search-pane button {
  margin-bottom: 0px;
  margin-left: .4rem;
  padding: 2px;
}

.jtox-query .searchsimilarity select {
  width: 5em;
}

.jtox-query .searchauto.dynamic>div {
  white-space: nowrap;
  padding-top: 10px;
}

.jtox-query .search-pane div.dynamic {
  min-height: 40px;
  float: left;
}

.jtox-query .search-pane .dynamic.hidden {
  display: none;
}

.jtox-query .ketcher {
  display: block;
  height: auto;
  position: relative;
  left: 0px;
  -moz-transition: all 0.5s ease, opacity 0.2s;
  -webkit-transition: all 0.5s ease, opacity 0.2s;
  transition: all 0.5s ease, opacity 0.2s;
}

.jtox-query .ketcher.shrinken {
  left: 100%;
/*   opacity: 0.0; */
}

.jtox-query .ketcher .toolEmptyCell {
  vertical-align: middle;
}

.jtox-query .ketcher .toolEmptyCell button {
  margin: 0px;
  padding: 4px 8px;
}

.jtox-query .ketcher .toolEmptyCell button span {
  display: inline-block;
}
